<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <h2>{{resx.loginButton}}</h2>
        <p class="text-primary">{{resx.loginMessage}}</p>
        <p><a class="btn btn-info" href="#/login" role="button">{{resx.loginButton}}</a></p>
    </div>
    <div class="col-md-4">
        <h2>{{resx.signUpButton}}</h2>
        <p class="text-primary">{{resx.signUpMessage}}</p>
        <p><a class="btn btn-info" href="#/signup" role="button">{{resx.signUpButton}}</a></p>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>