<li><a href="#/myspace">{{menus.mySpaceActivityFiles}}</a></li>
<li><a href="#/myspace/activity">{{menus.mySpaceFiles}}</a></li>
<!--<li><a href="#/myspace/newfile">{{menus.mySpaceNewFile}}</a></li>-->
<!--<li><a href="#/myspace/profile">{{menus.mySpaceProfile}}</a></li>-->

<!--<li uib-dropdown>
    <a uib-dropdown-toggle>{{menus.mySpaceActivity}}<span class="caret"></span></a>
    <ul uib-dropdown-menu>
        <li><a href="#/myspace">{{menus.mySpaceActivityFiles}}</a></li>
        <li><a href="#/myspace/activity">{{menus.mySpaceFiles}}</a></li>
        <li><a href="#/myspace/newfile">{{menus.mySpaceNewFile}}</a></li>
        <li><a href="#/myspace/profile">{{menus.mySpaceProfile}}</a></li>
    </ul>
</li>-->