<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2>{{title}}</h2>
        <div class="clearfix">&nbsp;</div>
        <p class="lead">{{description}}</p>
    </div>
</div>
<info-bar></info-bar>
<!--<div class="row" ng-show="showInfoBar()">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="showError()">
        <div data-ng-show="showError()" class="alert alert-danger alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="{{resx.common.close}}" ng-click="closeError()"><span aria-hidden="true">&times;</span></button>
            <div ng-bind-html="getErrorMessage()"></div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="showMessage()">
        <div data-ng-show="showMessage()" class="alert alert-success alert-dismissable" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="{{resx.common.close}}" ng-click="closeMessage()"><span aria-hidden="true">&times;</span></button>
            <div ng-bind-html="getGeneralMessage()"></div>
        </div>
    </div>
</div>-->

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-show="list.length == 0">&nbsp;</div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-show="list.length > 0">
        <div class="form-group">
            <label class="sr-only" for="exampleInputFilter">{{resx.filter}}</label>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="filterText" placeholder="{{resx.filter}}">
                <div class="input-group-addon" placeholder=><i class="fa fa-filter"></i></div>
                <div ng-show="filterText !== ''" class="input-group-addon" placeholder=><i class="fa fa-remove" ng-click="clearFilterText()"></i></div>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-2">
        &nbsp;
    </div>
        
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
            <button ng-show="selectedId > 0" class="btn btn-danger pull-right" ng-click="goDelete()" uib-tooltip="{{resx.common.delete}}">
                <i class="fa fa-trash"></i>
            </button>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
            <button ng-show="selectedId > 0" class="btn btn-primary pull-right" ng-click="goDownloadExcel()" uib-tooltip="{{resx.downloadExcel}}">
                <i class="fa fa-file-excel-o"></i>
            </button>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
            <button ng-show="selectedId > 0" class="btn btn-primary pull-right" ng-click="goActivity()" uib-tooltip="{{resx.common.activity}}">
                <i class="fa fa-list-ol"></i>
            </button>
        </div>

        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2">
            <button ng-show="showEdit()" class="btn btn-primary pull-right" ng-click="goEdit()" uib-tooltip="{{resx.common.edit}}">
                <i class="fa fa-edit"></i>
            </button>
        </div>

        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-2" ng-show="showCreate()">
            <button class="btn btn-primary pull-right" ng-click="goCreate()" uib-tooltip="{{resx.createTitle}}">
                <i class="fa fa-plus-square"></i>
            </button>
        </div>
        
    <!--<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <a class="btn btn-primary pull-right" href="#/project/create"><i class="fa fa-plus-square"></i> {{resx.createTitle}}</a>
    </div>-->
</div>
<hr />
<!--<div class="clearfix">&nbsp;</div>-->
<div class="row" ng-show="list.length > 0">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <table class="table table-condensed table-hover">
            <thead>
                <tr>
                    <th>{{resx.field.name}}</th>
                    <th>{{resx.field.code}}</th>
                    <th>{{resx.field.totalStands}}</th>
                    <th>{{resx.field.startDate}}</th>
                    <th>{{resx.field.finishDate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in list | filter:filterText" ng-dblclick="go(item)" context-menu="ctxMenu" ng-click="select(item, $index)" ng-class="{warning: (selectedId == item.id)}">
                    <th>{{item.name}}</th>
                    <th>{{item.code}}</th>
                    <th>{{item.totalStands}}</th>
                    <th>{{item.startDate | date : resx.common.dateFormat}}</th>
                    <th>{{item.finishDate | date : resx.common.dateFormat}}</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="row" ng-show="list.length == 0">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="alert alert-info alert-dismissible" role="alert">
            <div class="text-center"><strong>{{resx.noItemsInList}}</strong></div>
        </div>
    </div>
</div>
