<form class="form-login" role="form">
    <h2 class="form-login-heading">{{resx.title}}</h2>    
    <p class="lead">{{resx.instructions}}</p>
    <p>
        <ul>
            <li ng-bind-html="getInstructions(resx.instructions_a)"></li>
            <li ng-bind-html="getInstructions(resx.instructions_b)"></li>
            <li ng-bind-html="getInstructions(resx.instructions_c)"></li>
            <li ng-bind-html="getInstructions(resx.instructions_d)"></li>
        </ul>
    </p>
    <div class="clearfix">&nbsp;</div>
    <input type="text" class="form-control project-code" placeholder="{{resx.projectCode}}" data-ng-model="registration.projectCode" required autofocus>
    <input type="text" class="form-control" placeholder="{{resx.login.userName}}" data-ng-model="registration.userName" required>
    <input type="text" class="form-control" placeholder="{{resx.field.name}}" data-ng-model="registration.name" required>
<input type="password" class="form-control" placeholder="{{resx.login.password}}" data-ng-model="registration.password" required>
    <input type="password" class="form-control" placeholder="{{resx.login.passwordConfirmation}}" data-ng-model="registration.confirmPassword" required>
    <div class="clearfix">&nbsp;</div>
    <button class="btn btn-lg btn-info btn-block" type="submit" data-ng-click="signUp()">{{resx.sendButton}}</button>
    <div class="clearfix">&nbsp;</div>
    <div data-ng-hide="message == ''" data-ng-class="(savedSuccessfully) ? 'alert alert-success' : 'alert alert-danger'">
        {{message}}
    </div>
</form>